@import "../../styles/variables.scss";

.button {
    padding: 15px;
    font-size: 24px;
    text-align: center;
    font-family: "Imprima", sans-serif;
    font-weight: 400;
    width: 125px;
    border: 1px solid #1cceb5;
    background-color: transparent;
    color: $primary;
    cursor: pointer;
    &__left {
        border-radius: 40px 0 0 40px;
        border-right: none;
        // padding: 15px 25px 15px 34px;
    }
    &__right {
        border-radius: 0px 40px 40px 0px;
        border-left: none;
        // padding: 15px 34px 15px 25px;
    }
    &__active {
        color: $background;
        background: linear-gradient(90deg, #cf32ca 0%, #1cceb5 100%);
    }
}
