@import "../../styles/variables.scss";

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    max-width: 1440px;
    margin: 0 auto;
    &__logo {
        font-size: 3.5rem;
        font-weight: bold;
        background: linear-gradient(105deg, $callToAction 0%, $secondary 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        max-width: 700px;
        gap: 240px;
    }
    &__links {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        align-items: center;
        &__link {
            color: $links;
            transition: all 0.2s;
            & > a {
                font-size: 1.6rem;
            }
            &:hover {
                color: $callToAction;
            }
            &[data-active="true"] {
                color: $callToAction;
            }
        }
    }
    &__icons {
        display: flex;
        gap: 7px;
        &__switchOptions {
            display: flex;
            gap: 4px;
            align-items: center;
            margin-right: 25px;
        }
        &__switchButton {
            display: flex;
            position: relative;
            align-items: center;
            background-color: $background;
            width: 39px;
            height: 20px;
            padding: 5px 6px;
            border-radius: 35px;
            transition: translate linear 0.3s;
            cursor: pointer;
            &:before {
                content: "";
                position: absolute;
                top: -1.25px;
                left: -1.25px;
                width: 41px;
                height: 22px;
                z-index: -1;
                border-radius: inherit;
                background: linear-gradient(to right, $links, $callToAction);
            }
            & > img {
                transition: all 0.2s;
            }
        }
        &__lang {
            font-size: 1.6rem;
            transition: all 0.2s;
            color: $links;
            &:hover {
                color: $callToAction;
            }
            &[data-active="true"] {
                color: $callToAction;
            }
        }
        & > span {
            cursor: pointer;
        }
    }
}
