@import "../../styles/variables.scss";

.card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  @media (min-width: 720px) {
    max-width: 1150px;
    flex-direction: row;
    gap: 48px;
  }
  &__img {
    //flex: 1 1 0;
    width: 100%;
    height: auto;
    @media (min-width: 720px) {
        width: 40%;
      }
  }
  &__reverse {
    @media (min-width: 720px) {
        flex-direction: row-reverse;
      }
  }
  &__container {
    @media (min-width: 720px) {
      flex: 1 1 0;
    }

    &__title {
      text-align: center;
      margin-bottom: 24px;
      color: $links;
    }
    &__text {
      text-align: center;
    }
  }
}
