@import "../../styles/variables.scss";

.homeSection {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 90px 16px 0 16px;
    @media (min-width: 720px) {
        flex-direction: row;
        padding: 92px 30px 0 30px;
        gap: 70px;
    }
    h1 {
        max-width: 558px;
        text-align: center;
        // & span[data="remark-callToAction"] {
        //     color: $callToAction;
        // }
        // &:last-child {
        //     color: $secondary;
        // }
        @media (min-width: 720px) {
            width: 55%;
            padding: 50px;
            font-size: 3.2rem;
        }
    }
    div {
        display: flex;
        max-width: 446px;
        @media (min-width: 720px) {
            width: 45%;
        }
    }
    img {
        width: 100%;
        height: auto;
        max-width: 253px;
        @media (min-width: 720px) {
            max-width: 446px;
        }
    }
}
